.Sidebar{
    width: 4.5rem;
    height: 100vh;
    background-color: #0C0B0B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
}

.Sidebar:hover{
    width: 12rem;
    transition: .4s ease;
}

.SidebarList{
    width: 100%;
    overflow: hidden;
    height: auto;
}
.SidebarHome{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.2em 0.6em;
    gap: 0.8rem;
    
}

.BdLogo{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BdLogo img{
    height: 100%;
}

.SidebarHomeRacoom{
    width: 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
}


.row,
.rowFooter,
.rowFooterLogout{
    width: 13rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem 0.6rem;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
}
.row:hover,
.rowFooter:hover,
.rowFooterLogout:hover{
    background-color: #aaaaaa1e;
    cursor: pointer;
}

.bd_Icon{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bd_Icon img{
    width: 70%;
}

.SideBarFooter{
    width: 100%;
    overflow: hidden;
}

.bdRisk{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Risk{
    width: 65%;
    height: 2px;
    background-color: #1f1f1f;
}

.FooterUser, 
.FooterLogout{
    margin-left: 1em;
}

.rowFooter{
    padding: 2em 0.6em;
}

.semSublinhado{
    text-decoration: none;
}
