* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.passwordResetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  color: #FFFFFF;
  position: relative;
}

header h1 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.formGroup {
  margin-bottom: 15px;
  position: relative;
}

.formGroup input {
  z-index: 1;
  padding: 12px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: #1F1F1F;
  color: #fff;
  margin-bottom: 47px;
  padding-right: 40px; 
  margin-top: 15px;
}

.formGroup label {
  font-size: 18px;
  font-weight: bold;
  
}

.togglePassword {
  position: absolute;
  top: 47%;
  right: 17px; 
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px; 
  height: 24px; 
}

.buttongroup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.resetButton,
.cancelButton {
  text-align: center;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  flex: 1;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}



.resetButton {
  background-color: #00FF99;
}

.cancelButton {
  background-color: #FF0033;
}

.resetButton:hover,
.cancelButton:hover {
  opacity: 0.8;
}

.message {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
}

.message.show {
  top: 20px;
  opacity: 1;
}

.message.error {
  background-color: #FF0033;
}

