* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.firstContainer, .secondContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Permite que os itens se movam para uma nova linha em telas menores */
}

.firstContainer {
  padding: 72px 111px 27px 119px;
}

.secondContainer {
  padding: 57px 72px 52px 119px;
}

.profile, .business, .information {
  width: 100%; /* Definido como 100% para telas pequenas */
  max-width: 482px; /* Limite de largura para telas maiores */
}

.profile input, .business input, .information input {
  z-index: 1;
  padding: 12px;
  border: none;
  border-radius: 20px;
  width: 100%;
  background-color: #1F1F1F;
  color: #fff;
  margin-bottom: 47px;
}

.profileGrid label {
  font-size: 18px;
  font-weight: bold;
}

.avatar {
  width: 100%; /* Ajuste para telas pequenas */
  max-width: 450px;
  align-items: center;
  text-align: center;
  height: auto; /* Altura ajustável */
  margin-top: 40px;
}

.active span {
  color: #00DC82;
  font-size: 18px;
  font-weight: bold;
}

.bdRisk {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Risk {
  width: 100%;
  height: 2px;
  background-color: #1f1f1f;
}

.actions button {
  text-align: center;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
}

#first, #last {
  width: 100%; /* Ajustado para telas pequenas */
  max-width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #0072DC;
}

#last {
  background-color: #00DC82;
}

/* Media Queries para diferentes tamanhos de tela */
@media (max-width: 768px) {
  .firstContainer, .secondContainer {
    padding: 40px 20px; /* Redução do padding em telas menores */
  }

  .profile, .business, .information {
    width: 100%;
  }

  .avatar {
    width: 100%;
    height: auto;
  }

  #first, #last {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px; /* Reduzindo o tamanho da fonte em telas muito pequenas */
  }

  .firstContainer, .secondContainer {
    flex-direction: column; /* Itens empilhados verticalmente em telas menores */
    align-items: flex-start;
    padding: 20px;
  }

  .avatar {
    margin-top: 20px;
  }
}
